*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

:root{
    --main-font: 'Poppins', sans-serif;
    --yellow: #FDD130;
    --black: #0B1D26;
    --white: #FFFFFF;
    --black-blue: #0b1d26;
}

html{
    font-family: var(--main-font);
    /* font-size: 62.5%; */
}
.banner{
    position: relative;
    width: 100%;
    min-height: 900px;
    max-height:1886px ;
    background:  url('../assets/images/hero.jpg') center / cover no-repeat;
}
.banner::after{
    content: ' ';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 40%, #0B1D26 99%);

}
.header{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    min-height: 130px;
    max-height: 150px;
}
.header-logo, .logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    display: block;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
.menu{
    position: absolute;
    left: -100vw;
}
.burguer-menu{
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    width: 25px;
    height: 25px;
    z-index: 1;
}
.menuActive{
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items:center;
    left: 0;
    top: 0;
    padding: 50px 10px;
    width: 60%;
    height: 100vh;
    background: rgba(11, 29, 38, 0.432);
}
.menuActive .item  a{
    text-decoration: underline;
    margin: 20px;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
}
.item{
    list-style: none;
}
.item a{
    text-decoration: none;
    color: var(--black);
}
.icon{
    display: block;
    width: 20px;
    height: 20px;
}
.hero{
    width: 100%;
    min-height: 600px;
    padding: 30px 10px;
    display: grid;
    grid-template-columns: [start] 1fr [middle] 1fr [end];
    grid-template-rows: [start] 150px [middle] 1fr [end];
}
.social-instagram{
    margin-bottom: 10px;
    background: url('../assets/icons/insta.svg') center / cover no-repeat;
}
.social-twitter{
    background: url('../assets/icons/twitter.svg') center / cover no-repeat;
}
.hero-phrase{
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    grid-row-start: 2;
    grid-column: start / end; 
}
.hero-slider{
    border-right: 1px solid var(--black);
    padding-right: 10px;
    justify-self: end;
    text-align: right;
}
.sections{
    margin: 5px 0;
    list-style: none;
}
.main{
    padding-top: 50px;
    background-color: var(--black-blue);
    color: var(--white);
}
.items-container{
    width: 100%;
    padding: 10px;
}
.item{
    display: grid;
    grid-template-areas: "title"
                         "description"
                         "readMore"
                         "img";
    justify-items: center;
    margin: 80px 0;
    padding: 20px;
}
.item-title{
    position: relative;
    justify-self: start;
    grid-area: title;
    padding: 0 20px;
}
.item-title h2{
    font-weight: 500;
    font-size: 2rem;
}
.item-title::before{
    content: ' ';
    width: 30px;
    border: 1px var(--yellow) solid;
    color: var(--yellow);
    position: absolute;
    top: -30%;
    left: 20%;
}
.item-title span{
    position: absolute;
    font-weight: bold;
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.384);
    top: -160%;
    left: -10%;
}
.item-image {
    grid-area: img;
    width: 80%;
    max-width: 500px;
}
.item-image img{
    width: 100%;
}
.item-description{
    grid-area: description;
    margin: 10px 0;
    font-size: .8rem;
}
.item-more{
    grid-area: readMore;
    margin: 10px 0;
    color: var(--yellow);
    cursor: pointer;
}
.item-more span{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('../assets/icons/rightArrow.png') center / cover no-repeat;
}
.footer{
    padding: 10px;
    width: 100%;
    background: var(--black-blue);
    display: flex;
    flex-wrap: wrap;
}
.copyRight{
    min-width: 280px;
    height: 150px;
}
.copyR{
    color: gray;
}